@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*----------------Estilos generales*/

* {
	box-sizing: border-box;
}
img{

	display: block;
	max-width: 100%;
}
body{
	margin: 0; /*se puede quitar, siempre le asigna por defecto un margin al body html*/
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5{

	letter-spacing: 1.5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;

}
.section__titulo{
 	text-align: center;
 	font-size: 40px;
 	color: #FBA919;
 }
 .contenedor{
 	margin: auto;
 	width: 99%;

 }
/*--------------------Estilos del header--------------------- -----------------*/
.header{
	height: 60px;
}
.header .contenedor{
	display: flex;
	justify-content: space-between;

}
.logo, .icon-menu{
	margin: 5px;
	color: #fff;
	font-size: 17px;

}

.icon-menu{
	display: block;
	width:40px;
	height: 40px;
	font-size: 30px;
	background: #FBA919;
	color: #fff;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}
/*------------------------------Estilos de menu--------------------------------------*/
.nav{
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}

.menu{
	list-style: none;
	padding: 0;
	margin: 0;

}

.menu__link{
	display: block;
	padding: 15px;
	background: #FBA919;
	text-decoration: none;
	color: #fff;
}

.menu__link:hover, .select{ /*utilizo este select para mostrar que estuve en cada uno de los li del menu*/
	background: white;
	color: #FBA919;
}
.mostrar{
	left: 0;
}
 
/*----------------------------Estilos de banner---------------------------------*/
.banner{
	position: relative;
	margin-top: -60px;
	z-index: -1000;
	margin-bottom: 20px;	


}

.banner .contenedor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
}
.banner__titulo{
	font-size: 17px;
}
.banner__txt{
	display: none; /*desaparece el texto, para mobiles*/
}

/*--------------Estilos info-----------------------------------*/
.info__columna{

	background: #FBA919;
	color: #fff;
	padding:10px ;
	margin-bottom: 30px;
 
 }

 /*-------------Estilos de curso---------------------------*/
 .cursos__columna{
 	position: relative;
 	margin-bottom: 30px;
 }
 .cursos__descripcion{

 	position: absolute;
 	top: 0;
 	left: 0;
 	color: #fff;
 	background: rgba(0,0,0,0.7);
 	width: 60%;
 	height: 100%;
 	padding: 5px;
 	font-size: 9px;
 }

 .cursos__titulo{
 	font-size: 25px;
 	margin: 5px 0;
 }
 .cursos__img{
 	width:  100%;
 }

/*----------------------Estilos Footer---------------*/
 
.footer{
	background: #333;
	color:#fff;
	padding: 10px;
	text-align: center;
}

.footer .social [class^="icon-"]{
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	background: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 40px;

}

/*-------------------------Estilos responsive----------------------*/
@media (min-width: 480px) {
	.logo{
		font-size: 25px;
	}

	.banner__titulo{
		font-size: 30px;
		margin: 80px 0;
		text-align: center; 
		margin-bottom: 60%;  
	}
	.banner__txt{
		display: block;
		font-size: 12px;
		margin: 7px 0;
		margin-top: -60%;  
	}

	.info, .cursos{
		display: flex;
		justify-content:space-between;
		margin-top: -20px;
	}
	.info__columna{
		width: 32%;
	}
	.info__titulo{
		font-size: 30px;
		margin: 5px 0;
	}
	.section__titulo{
		width: 100%;
		margin-top: 0;

	}
	.cursos{
		flex-wrap: wrap;
		margin-top: 0;
	}

	.cursos__columna {
    width: 49%;
  }
  .footer .social [class^="icon-"] {
    margin: 0 10px;
  }
}
@media(min-width:768px) {  
  .banner__titulo, .banner__txt {
    font-size: 26px;
  }
  .cursos__titulo {
    font-size: 35px;
  }
  .banner__img{
  	    width:100%; 
  	    height:100%
  }
  .info{
  	margin-top: -20px;
  }


}

@media(min-width:1024px) {  
  .contenedor {
    width: 800px;
  }

  .section__titulo {
    font-size: 50px;
    margin: 30px 0;
  }
  .nav {
    position: static;
    width: auto;

  }
  .menu {
    display: flex;
  }
  
  .icon-menu {
    display: none;
  }
  .menu__link {
    background: none;
    font-size: 20px;
  }
  .select {
    color: #fff;
    background: #FBA919;
  }
  .banner__titulo {
    font-size: 60px;
    text-align: center;

  }
  .banner__txt {
    font-size: 25px;
    text-align: center;
    
  }
  .banner__img{
  	    width:100%; 
  	    height:100%
  }
  .info {
    margin-top: -20px;
  }
  .info__columna {
    padding: 30px;
  }
  .info__titulo {
    font-size: 40px;
    text-align: center;
  }
  .cursos__descripcion {
    padding: 20px;
  }
  .cursos__titulo {
    font-size: 50px;
  }
  .cursos__txt {
    font-size: 20px;
  }
}

@media(min-width:1280px) {
  .contenedor {
    width: 1200px;
  }
  .banner__titulo, .banner__txt {
  	text-align: center;

  }
  
  .logo {
    font-size: 40px;
  }
   
  
  .banner .contenedor {
    top: 40%;
    
  }
  .info {
    margin-top: 20px;
  }
}




}